name: Archive

on:
  workflow_dispatch:
  schedule:
    - cron: "30 5 1-7 * 6" # 8:30am on the first 7 days of the month, if it's a Saturday. In other words the first Saturday of the month at 5:30am.

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v3

      - name: Set up python
        id: set-up-python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install dotenv duckdb GitPython google-cloud-storage

      - name: Scrape stations
        run: python scripts/archive.py
        env:
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
