name: Scrape

on:
  workflow_dispatch:
  schedule:
    - cron: "6,16,26,36,46,56 * * * *"

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v3

      - name: Scrape stations
        run: python scripts/scrape_stations.py
        env:
          JCDECAUX_API_KEY: ${{ secrets.JCDECAUX_API_KEY }}

      - name: Scrape weather
        run: python scripts/scrape_weather.py

      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          disk_usage_before=$(du -sh .git | awk '{print $1}')
          git commit -m "Latest data: ${timestamp}" || exit 0
          disk_usage_after=$(du -sh .git | awk '{print $1}')
          echo "Disk usage increment: $(echo "${disk_usage_after} - ${disk_usage_before}" | bc)"
          git push
